.body.is-loading {
  #hero {
    @include vendor('transform', 'scale(1.05)');
    @include vendor('transform', 'translateY(3em)');
    opacity: 0;

    img {
      @include vendor('transform', 'opacity(0)');
      opacity: 0;
    }
  }
}

#hero {
  background: none;
  margin-top: -400px;
  z-index: 10;
  @include padding(9em, 0, (0, 0, _size(element-margin), 0));
  @include vendor('transition', 'transform 1.25s ease');
  @include vendor('transition-delay', '1s');
  @include vendor('transform', 'translateY(0)');
  opacity: 1;
  img {
    @include vendor('transition', 'opacity 1.25s ease');
    @include vendor('transition-delay', '1s');
    opacity: 1;
    width: 500px;
    margin: 0 auto;
  }

  .slider {
    img {
      //   box-shadow: _shadow(tiny-drop);
      border-radius: 8px;
      width: 400px;
    }
    .slider-control-bottomcenter {
      //   display: none;
      button {
        box-shadow: none;
        font-size: 40px !important;
        color: #aaa !important;
      }
    }
  }
}

@include breakpoint(small) {
  #hero {
    img {
      width: 500px;
    }
  }
}
@include breakpoint(xsmall) {
  #hero {
    img {
      width: 400px;
    }
    .slider {
      .slider-control-bottomcenter {
        display: none;
      }
    }
  }
}
@include breakpoint(xxsmall) {
  #hero {
    img {
      width: 300px;
    }
  }
}
